.carouselText {
  display: flex;
  flex-direction: column;
  // gap: .5rem;
  
}

.content {
  position: relative;
  height:9rem;
  width: 100%;
}

.textContainerActive {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  // text-align: center;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.textContainerInactive {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  // text-align: center;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

p {
  color: #333;
  margin: 0;
}

a {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  text-decoration: none;
  margin-top: 10px;
}

a:hover {
  color: #333;
}
