@import './../shared/general';

.main,
.mainDashboard {
  width: 100%;
  display: flex;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 46rem;

    @media (min-width: $tablet) {
      margin: auto;
    }

    .content {
      align-items: center;
      display: flex;
      height: auto;
      justify-content: center;
      position: relative;
      width: 100%;
    }
  }
}

.mainDashboard {
  align-content: flex-start;
  background: $white;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  .container {
    max-width: none;
    margin: 0;
  }
}
