@import "../shared/general.scss";

.content__forgot__passwd,
.content__register,
.content__signup,
.content__credential__asign,
.content__affiliation,
.content__transit__profile {
  @extend .content__general;

  .text_login {
    color: $black;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 0 0.44rem;

    @media (min-width: $tablet) {
      font-size: 1.875rem;
      font-weight: 300;
      margin: 0 0 2rem;
    }
  }
  .paragraph {
    padding: 0 0 0.94rem;
    //text-align: left !important;

    @media (min-width: $tablet) {
      padding: 3.25rem 2.13rem 2.94rem;
      text-align: center;
    }
  }

  .form {
    max-width: 26.125rem;
    margin: 0 auto;
  }

  .forgoten_password,
  .goLogin {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 1.3rem 0 1.5rem 0;
    text-align: center;

    @media (min-width: $tablet) {
      font-size: 1.125rem;
      margin: 1.62rem 0 2rem 0;
    }
  }

  .login {
    &:hover {
      color: $secondary;
    }
  }

  .contentBtn {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    button {
      margin: 1rem 0;
      &:first-child,
      &:last-child {
        margin: 0;
      }

      @media (min-width: $tablet) {
        margin: 2rem 0;
      }
    }
  }

  .politicas {
    color: $black;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 1.5rem;
    @media (min-width: $tablet) {
      font-size: 1.25rem;
    }
    p {
      margin: 0;
      &:last-child {
        margin: 0 1rem;
      }
    }
    a {
      font-weight: 600;
      &:hover {
        text-decoration-line: underline;
      }
    }
  }

  .note {
    margin: 1rem 0;
    text-align: center;
    @media (min-width: $tablet) {
      margin: 2rem 0;
    }
  }
}

.instructions {
  color: $black;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 0 1.94rem;

  p:first-of-type {
    margin-bottom: 1.125rem;
  }

  @media (min-width: $tablet) {
    font-size: 1.375rem;
    padding: 2.5rem 0 2.19rem;
    text-align: left;

    p:first-of-type {
      font-size: 1.375rem;
    }
  }
}
.content__register {
  @media (min-width: $tablet) {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
  }
}

.content__forgot__passwd {
  max-width: 31rem;
  margin: 0 auto;

  @media (min-width: $tablet) {
    margin-bottom: 5rem;
  }
  .form {
    label {
      display: none;
    }

    .contentBtn {
      margin-top: 1.5rem;
      margin-bottom: 1.88rem;

      @media (min-width: $tablet) {
        margin-bottom: 6rem;
      }

      button {
        &:first-of-type {
          margin-bottom: 1rem;
          @media (min-width: $tablet) {
            margin: 2rem 0;
          }
        }
      }
    }
  }
}

.content__affiliation,
.content__transit__profile {
  @media (min-width: $tablet) {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .contentBtn {
    align-items: center;
    button {
      max-width: 26rem;
      width: 100%;

      &:first-child {
        margin-bottom: 1rem;
      }
    }
  }
}
.content__credential__asign {
  .instructions {
    text-align: center;
  }
  .contentBtn {
    button {
      &:first-child {
        margin-bottom: 1rem;
      }
    }
  }
}
.content__affiliation {
  .instructions {
    text-align: left;
  }

  .information {
    background-color: $infoBlockBg;
    border-radius: 0.3125rem;
    color: white;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0.9375rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    text-align: center;

    @media (min-width: $tablet) {
      font-size: 1.125rem;
      line-height: 1.3125rem;
      margin-bottom: 2rem;
    }
  }

  .containerOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contentBtn {
    margin-top: calc(2rem - 1.125rem);
  }
}
