@import '../shared/general.scss';

.content__profile {
  @extend .content__general;
  
  .contentBtn {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    button {
      margin: 0.5rem 0;

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .errorField{
    // border: solid 0.3em;
    border-color: crimson;
  }

  .contentBtn {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    button {
      margin: 0.5rem 0;

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

}
