@import '../shared/general.scss';

.content__signup {
  padding: 0.9375rem;

  @media (min-width: $tablet) {
    padding: 1.5625rem;
  }

  .heading {
    margin: 0 0 1.5rem;
    font-weight: 500;
    color: lighten($black, 30%);
  }

  .paragraph {
    color: lighten($black, 40%);
    font-size: 0.875rem;
    margin-top: 0;
  }

  .forgoten_password {
    color: $gray;

    a:hover {
      color: $secondary;
    }
  }

  .contentBtn {
    display: flex;
    flex-direction: column;

    button {
      margin: 0.5rem 0;

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
