@import '../shared/general.scss';

.content__account {
  @extend .content__general;

  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  position: relative;
  gap: 0.5rem;
  border: none;
  box-shadow: none;

  @media (min-width: $tablet) {
    padding: 1.5625rem;
  }

  // .btnHeader {
  //   display: flex;
  //   justify-content: flex-end;
  //   gap: 1rem;

  //   @media (min-width: $laptop) {
  //     position: absolute;
  //     top: -2.1875rem;
  //     right: 1.5625rem;
  //   }
  // }

  .name {
    font-weight: 600;
    color: $black;
    font-size: 1.3125rem;
  }

  .avatarMobile {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;

    img {
      height: 1.875rem;
      width: 1.875rem;
      border-radius: 50%;
    }

    @media (min-width: $tablet) {
      display: none;
    }
  }

  .desktopHellow {
    display: none;
    @media (min-width: $tablet) {
      display: flex;

      .name {
        font-size: 2.375rem;
        text-transform: uppercase;
      }
    }
  }

  .points {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    gap: 1rem;
    flex-direction: column;

    .acumulate {
      display: flex;
      justify-content: space-between;
      border-bottom: 0.125rem solid $gray;

      p {
        font-size: 1.125rem;
      }
    }
  }

  .credential {
    height: 8.5rem;
    margin-bottom: 1rem;
    width: 19.5rem;
    border-radius: 0.625rem;
    background: linear-gradient(
      153deg,
      #95165e 0%,
      rgba(202, 60, 72, 0.14) 47.4%,
      rgba(210, 66, 69, 0) 99.99%,
      rgba(210, 66, 69, 0) 100%
    );
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    span {
      color: $white;
      font-weight: 500;
      text-shadow: 1px 1px 2px black;

      &.title {
        font-size: 1.25rem;
      }
      &.number,
      &.cod {
        margin-left: 1.875rem;
      }
    }
  }
  .conten__btn {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin: 0rem;

    button {
      margin: 0.5rem 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
