@import '../shared/colors';

.alert {
  &__error,
  &__danger,
  &__success,
  &__warning,
  &__fatal {
    color: $warning;

    &:empty {
      display: none;
    }
  }

  &__success {
    color: $primary;
  }
}
