@mixin btn {
  border-radius: 0.25rem;
  border: 0 solid;
  cursor: pointer;
  font-size: 0.9375rem;
  font-weight: 500;
  padding: 0.625rem 1.25rem;
}

.btn {
  @include btn;

  &__primary {
    @include btn;

    background-color: $primary;
    color: $white;

    &:hover {
      background-color: darken($primary, 10%);
    }
  }

  &__secondary {
    @include btn;

    background-color: $secondary;
    color: $white;

    &:hover {
      background-color: darken($secondary, 10%);
    }
  }

  &__tertiary {
    @include btn;

    background-color: $white;
    border: 0.0625rem solid $gray;
    color: $black;

    &:hover {
      background-color: lighten($black, 90%);
    }
  }

  &__google {
    background-color: $google;
    @include btn;
    color: $white;
    &:hover {
      background-color: darken($google, 10%);
    }
  }

  &__facebook {
    background-color: $facebook;
    @include btn;
    color: $white;
    &:hover {
      background-color: darken($facebook, 10%);
    }
  }
}
