@mixin btn {
  align-items: center;
  border-radius: 0.3125rem;
  border: 0 solid;
  cursor: pointer;
  display: flex;
  font-size: 1.25rem;
  line-height: normal;
  font-weight: 700;
  letter-spacing: 0.025rem;
  justify-content: center;
  padding: 0.75rem 0;
  color: $wbutton;

  @media (min-width: $tablet) {
    font-size: 1.5625rem;
    padding: 0.91rem 0 1.27rem;
    box-shadow: 0 0.25rem 0.25rem rgb(0 0 0 / 25%);
  }
}

$buttons: 'primary', 'secondary', 'tertiary', 'quaternary', 'warning';

@each $button in $buttons {
  .btn__#{$button} {
    @include btn;

    &_rounded {
      @extend .btn__#{$button};
      border-radius: 50%;
      padding: 0;
      width: 2.1875rem;
      height: 2.1875rem;
    }
  }
}

.btn {
  @include btn;
  &__disabled {
    cursor: not-allowed;
  }

  &__primary {
    background-color: $primary;

    &:hover {
      background-color: darken($primary, 10%);
    }
  }

  &__secondary {
    background-color: $secondary;

    &:hover {
      background-color: darken($secondary, 10%);
    }
  }

  &__tertiary {
    background: $tertiary;
    border: 1px solid $darkBorder;
    color: black;

    &:hover {
      background-color: darken($tertiary, 10%);
    }
  }

  &__quaternary {
    background: $quaternary;

    &:hover {
      background-color: darken($quaternary, 10%);
    }
  }

  &__warning {
    background-color: $warning-light;
    border: 0.0625rem solid $warning-light;

    color: $white;

    &:hover {
      background-color: $warning;
      border-color: $warning;
    }
  }

  &__google {
    background-color: white;
    @include btn;
    color: $google_gray;
    position: relative;

    &:hover {
      background-color: darken(white, 10%);
    }

    &::before {
      content: url('assets/img/google.svg');
      height: 2rem;
      width: auto;
      position: absolute;
      left: 1.12rem;
    }
  }

  &__facebook {
    background-color: $facebook;
    @include btn;
    color: $white;
    &:hover {
      background-color: darken($facebook, 10%);
    }
  }
}

.btn_logout {
  @extend .btn__warning_rounded;

  font-size: 1.25rem;

  svg {
    margin-left: -0.1875rem;
  }
}
