$primary: #7eba00;
$secondary: #0099b9;
$tertiary: #d4d4d4;

$bg: #f8f9fd;
$warning: #b90909;
$warning-light: lighten($warning, 20%);

$black: #000;
$white: #fff;
$gray: lighten($black, 60%);

$google: #d85040;
$facebook: #415993;
