form {
  display: flex;
  flex-direction: column;

  .textfield {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.13rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    label {
      order: 0;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @media (min-width: $tablet) {
        font-size: 1.5625rem;
        font-style: normal;
        font-weight: 300;
      }
    }

    select,
    select option,
    input,
    input:-webkit-autofill,
    input:-internal-autofill-selected,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0 1000px $bgInput inset;
      -webkit-text-fill-color: $black;
      background-color: $bgInput !important;
      border-radius: 0.3125rem;
      border: 0.0625rem solid transparent;
      color: $black !important;
      font-size: 0.625rem;
      font-weight: 400;
      height: 2.5rem;
      line-height: normal;
      margin: 0.56rem 0 0;
      order: 1;
      padding: 0 0.95rem;

      &:focus-visible {
        outline-color: lighten($black, 40%);
      }

      @media (min-width: $tablet) {
        font-size: 1.25rem;
        font-weight: 300;
        height: 4rem;
      }
    }
    .alert__error {
      order: 3;
      font-size: 0.625rem;
      @media (min-width: $tablet) {
        font-size: 1rem;
      }
    }
  }
}
