$color_1: $gray;
$color_2: $secondary;
$background-color_1: $white;
$border-color_1: $secondary;
$f: 1rem;

form {
  display: flex;
  flex-direction: column;

  .textfield {
    position: relative;
    // margin: $f 0 0;

    label {
      background-color: $background-color_1;
      color: $color_1;
      font-size: $f;
      line-height: initial;
      border-radius: 0.625rem;
      left: 0;
      margin: 0 0.5rem;
      padding: 0 0.3rem;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform-origin: left top;
      transform: translateY(-50%);
      transition: 0.1s ease-out;
    }


    select {
      width: 100%;
      font-size: 14px;
      font-weight: 600;
      color: #261d1d;
      background-color: #e1e1e1;
      border: none;
      border-radius: 5px;
      padding: 5px;
      height: 3rem;
      letter-spacing: .4px;
      text-transform: uppercase;
    }

    select option {
      background-color: #f2f2f2;
      color: #333;
      padding: 10px;
      font-size: 18px;
      font-weight: 400;
      border: none;
      border-bottom: 1px solid #ccc;
    }

    input {
      font-size: $f;
      outline: none;
      border: 0.0625rem solid $color_1;
      border-radius: 0.25rem;
      padding: calc($f - 0.25rem) 0.625rem;
      color: $color_1;
      transition: 0.1s ease-out;
      width: -webkit-fill-available;
      width: 100%;

      &:focus {
        border-color: $color_2;
        color: inherit;
      }

      &:focus+label {
        color: $color_2;
        top: 0;
        transform: translateY(-50%) scale(0.9);
      }

      &:not(:focus)::placeholder {
        color: transparent;
      }

      &:not(:placeholder-shown)+label {
        top: 0;
        transform: translateY(-50%) scale(0.9);
      }
    }
  }
}