@import 'colors';
@import 'breackpoint';
@import 'typography';
@import 'inputs';
@import 'button';
@import 'alert';

$shadow: 0 0.625rem 2.125rem -0.9375rem rgba(0, 0, 0, 0.24);

.content__general {
  padding: 0.9375rem;
  width: 100%;

  @media (min-width: $tablet) {
    padding: 1.5625rem;
  }

  .conten__btn {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin: 0rem;

    button {
      margin: 0.5rem 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}