@import './assets/styles/shared/general.scss';

$font: 'Lato', Arial, sans-serif;

* {
  box-sizing: border-box;
  font-family: $font;
}

body {
  background-color: $bg;
  font-family: $font;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.8;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}


.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.mt {
  &__1 {
    margin-top: 1rem;
  }
  &__2 {
    margin-top: 2rem;
  }

  &__5 {
    margin-top: 5rem;
  }
}

.mb {
  &__1 {
    margin-bottom: 1rem;
  }

  &__5 {
    margin-top: 5rem;
  }
}


select {
  width: calc(70% + 3rem);
  font-size: 14px;
  font-weight: 600;
  color: #261d1d;
  background-color: #e1e1e1;
  border: none;
  border-radius: 5px;
  padding: 5px;
  height: 3rem;
  letter-spacing: .4px;
  text-transform: uppercase;
}

select option {
  background-color: #f2f2f2;
  color: #333;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #ccc;
}

.marquee-container {
  height: 50px; /* Altura del contenedor */
  overflow: hidden; /* Para ocultar el texto que se sale del contenedor */
}

.marquee {
  margin: 0; /* Para que no haya espacios en blanco alrededor */
  padding: 0;
  display: inline-block;
  white-space: nowrap; /* Para que el texto no se divida en varias líneas */
  animation: marquee 10s linear infinite; /* Animación de la marquesina */
}

@keyframes marquee {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
