@import './assets/styles/shared/general.scss';

$font: 'Montserrat', 'Lato', Arial, sans-serif;

* {
  box-sizing: border-box;
  font-family: $font;
}

body {
  background-color: $bg;
  font-family: $font;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.8;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

span {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

@for $i from 0 through 5 {
  $m: $i * 1rem;
  .mt__#{$i} {
    margin-top: $m !important;
  }
  .mb__#{$i} {
    margin-bottom: $m !important;
  }
}

.marquee-container {
  height: 50px; /* Altura del contenedor */
  overflow: hidden; /* Para ocultar el texto que se sale del contenedor */
}

.marquee {
  margin: 0; /* Para que no haya espacios en blanco alrededor */
  padding: 0;
  display: inline-block;
  white-space: nowrap; /* Para que el texto no se divida en varias líneas */
  animation: marquee 10s linear infinite; /* Animación de la marquesina */
}

@keyframes marquee {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
